body {
    margin: 0;
    background:  whitesmoke;
  }
  table {
    margin-left: 2em;
    margin-top: 1em;
    line-height: 1.1;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    background:  whitesmoke;
    color: black;
  }
  caption {
    font-family: annabelle, cursive;
    font-weight: bold;
    font-size: 2em;
    padding: 10px; 
    color: #F3CD26;
    text-shadow: 1px 1px 0 black;
   }
  caption:before, caption:after {
    content: "\274B";
    color: #98f0fc;
    margin: 0 10px;
  }
  th {
    text-align: center;
    padding: 10px; 
    border: 1px solid black;
  }
  td {
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    border: 1px solid black;
  }
  h1 {
    margin: 20px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    color: black;
    font-size: 3em;
  }
  p {
    margin: 20px;
    font-family: "Times New Roman", serif;
    color: black;
    font-size: 1em;
  }
  button {
    font-family: "Times New Roman", serif;
    color: black;
    font-size: 1em;
  }
